# Environment Variables
.env
*.env

# Virtual Environments
env/
venv/

__pycache__/
# config.py
*.pyc

# Local database and search index
news.db
indexdir/

# Test & coverage files
.coverage
htmlcov/

# VSCode and system junk
.vscode/
.DS_Store